.shop_hero {
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgb(241, 220, 161);
    border-radius: 0.7rem;
}

.buyButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 11rem;
    height: 6rem;
    cursor: pointer;
    border-radius: 1rem;
    background-image: linear-gradient(to bottom, rgb(108, 180, 247), rgb(103, 177, 247), rgb(97, 173, 247), rgb(92, 170, 247), rgb(87, 166, 247), rgb(81, 163, 247), rgb(76, 159, 247), rgb(70, 156, 247), rgb(65, 152, 247), rgb(60, 149, 247), rgb(54, 145, 247), rgb(49, 142, 247));
    &:hover {
        background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(237, 248, 254), rgb(219, 242, 253), rgb(202, 235, 252), rgb(184, 229, 251), rgb(166, 222, 250), rgb(148, 216, 250), rgb(130, 209, 249), rgb(112, 203, 248), rgb(95, 196, 247), rgb(77, 190, 246), rgb(59, 183, 245));
    }
}

.wrapper-buyButton__cost {
    display: flex;
}

.buyButton__header {
    font-size: 2rem;
    font-weight: 900;
    color: rgb(255, 194, 41);
    text-shadow: black 0rem 0rem 0.5rem;
}

.buyButton__imgGold {
    margin-right: 0.5rem;
    width: 2rem;
}

.buyButton__cost {
    font-size: 1.6rem;
    font-weight: 900;
    color: gold;
    text-shadow: black 0rem 0rem 0.5rem;
}

.hero_info {
    width: 50%;
    padding: 0.5rem;
}

.hero_name {
    font-size: 1.4rem;
    font-weight: 900;
    color: #ffffff;
    text-shadow: rgb(71, 71, 71) 1px 1px 1px, rgb(71, 71, 71) -1px -1px 1px, rgb(71, 71, 71) -1px 1px 1px, rgb(71, 71, 71) 1px -1px 1px;
}

.hero_stats {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
    text-shadow: rgb(71, 71, 71) 1px 1px 1px, rgb(71, 71, 71) -1px -1px 1px, rgb(71, 71, 71) -1px 1px 1px, rgb(71, 71, 71) 1px -1px 1px;
}

.hero_img {
    width: 4.5rem;
    background-image: url('../img/heroes/Cid-Summer.png');
    background-size: contain;
    background-repeat: no-repeat;
}
