$font-shadow: rgb(71, 71, 71) 1px 1px 1px, rgb(71, 71, 71) -1px -1px 1px, rgb(71, 71, 71) -1px 1px 1px, rgb(71, 71, 71) 1px -1px 1px;
* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    font-size: 10px;
}

::-webkit-scrollbar {
  width: 0;
}

body {
    background: linear-gradient(192deg,#b9efe6,#2694a2);
    min-height: 100vh;
}

.green {
  background: green;
}

.logo {
    height: 80px;
    img {
        height: 100%;
    }
}

.image {
    width: 100%;
}

.count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: $font-shadow;
}

.shop {
    width: 100%;
    height: 70vh;
    background: linear-gradient(50deg, rgb(125, 79, 8), rgb(187, 122, 25));
    border-radius: 10px;
    border: 5px solid rgb(117, 73, 6);
}

.level-wrapper {
    display: none;
}

.costom-item {
    width: 30px;
    img {
        width: 100%;
        height: 100%;
    }
    &:hover{
      transform: scale(1.2);
    }
}

.main-wrapper {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.field-play {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    .wrapper-healthbar {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 35px;
        background-color: #930000;
        font-size: 2rem;
        font-weight: 800;
        color: rgb(255, 255, 255);
        text-shadow: $font-shadow;
        .wrapper-healthdata {
            position: absolute;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
        }
        .healthbar {
            width: 100%;
            height: 100%;
            background-color: #ff0000;
            transition: 0.4s all ease-out;
        }
    }
    .hero {
      width: 50vh;
      height: 50vh;
      padding: 2rem;
      display: flex;
      background-image: url('../img/islands/1.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
        &-img {
          width: 50%;
          height: 45%;
          margin: 10% auto;
          text-align: center;
         img {
            max-height: 100%;
            max-width: 100%;
            animation: pulse 1s infinite;
            transition: all 0.3s linear;
        }
        img:active {
            height: 115%;
            transition: all 0.3s linear;
        }
    }
        }

    .monsters-progress-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 2rem;
        color: rgb(255, 255, 255);
        text-shadow: $font-shadow;
        visibility: visible;
    }
    .monsters-progress-wrapper.disabled{
      visibility: hidden;
    }
}

.wrapper-damage-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    overflow: hidden;
    .damage-popup {
        display: block;
        position: absolute;
        font-size: 3rem;
        font-weight: 700;
        color: darkblue;
        animation: damage 1s;
        animation-timing-function: cubic-bezier(0.29, 0.26, 0.03, 0.82);
        background: transparent;
        z-index: 99;
        span {
            background: transparent;
        }
    }
}

.__new-monster {
    background: url('../img/background/Isle1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.countdown span.time.active {
  visibility: visible;
}

.countdown span.time {
  visibility: hidden;
  padding: 12px;
  display: inline-block;
  font-family: verdana;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 900;
  color: #ff0000;
  background: none;
  border-radius: 10px;
}

footer{
  padding: 1rem;
  text-shadow: $font-shadow;
  color: #fff;
  font-size: 8px;
  text-transform: uppercase;
  .footer-link{
    color: #fff;
    
  }
  .footer-logo{
    width: 70px;
  }
}

main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 126px);
}

@keyframes pulse {
    0% {
        transform: scale(1.02);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes damage {
    from {
        top: 45%;
        left: 55%;
    }
    30% {
        top: 30%;
        left: 70%;
    }
    to {
        top: 80%;
        left: 95%;
    }
}
