* {
  box-sizing: border-box;
  background-color: rgb(195, 252, 252);
}

:root {
  font-size: 10px;
};

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  padding: 5px 0px;
  width: 500px;
};

.wrapper input {
  padding: 8px;
  width: 500px;
  text-align: center;
  border: 2px solid rgb(238, 11, 11);
  outline: none;
  float: left;
};

.mob {
  margin-top: 2rem;
  padding: 5px 5px;
  cursor: pointer;
  background-color: rgb(40, 105, 24);
  user-select: none;
  width: 300px;
  height: 300px;
}

.logo {
    text-align: center;
    height: 10vh;
    img{
        height: 100%;
    }
}
.score-swiper {
    display: flex;
    align-items: center;
    padding: 1rem;
    // max-width: 120rem;
    position: relative;
}
.score {
    width: 40%;
    text-align: center;
    border: 2px solid rgb(238, 11, 11);
    outline: none;
    padding: 1rem;
}
.level {
    width: 50%;
    text-align: center;
    border: 2px solid rgb(53, 44, 184);
    padding: 8px;
}

.tuning{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.tuning-wrapper{
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    padding: 1rem;
}
.menu {
    width: 40%;
    border: 2px solid rgb(184, 170, 44);
}

.field-play {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    width: 50%;
    height: 300px;
    .hero{
        height: 60%;
        img{
            height: 100%;
        }
    }
}

// .up-lvl {
//     cursor: pointer;
//     line-height: 1px;
// }

// .up-lvl p {
//     color: rgb(0, 41, 221);
//     font-size: 1.5rem;
// }

// .up-lvl1 {
//     cursor: pointer;
//     line-height: 1px;
//     padding-top: 1%;
// }

// .up-lvl1 p {
//     color: rgb(0, 41, 221);
//     font-size: 1.5rem;
// }

// .up-lvl2 {
//     cursor: pointer;
//     line-height: 1px;
//     padding-top: 1%;
// }

// .up-lvl2 p {
//     color: rgb(0, 41, 221);
//     font-size: 1.5rem;
// }

.level-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  font-size: 1.5rem;
}

.wrapper-healthbar {
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #930000;
  border: 1px solid black;
};

.healthbar {
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  transition: 0.4s all ease-out;
};

.wrapper-healthdata {
  margin: 2px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.monsters-progress-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  font-size: 1.5rem;
}

.mob__active {
  border-radius: 50%;
  background-color: rgb(238, 11, 11);
};
