* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    font-size: 10px;
}

body {
  background-image: url('../img/background/2c347b51717107.58f79ab5f057c.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.logo {
    height: 10vh;
    img {
        height: 100%;
    }
}

.image {
    width: 100%;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.shop {
  width: 100%;
  height: 100%;
  background: linear-gradient(50deg,rgb(125, 79, 8), rgb(187, 122, 25));
  border-radius: 10px;
  border: 5px solid rgb(117, 73, 6);
}

.level {
    width: 50%;
    text-align: center;
    border: 2px solid rgb(53, 44, 184);
    padding: 8px;
    position: relative;
    img {
      width: 100%;
    }
}
.level-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  font-size: 1.5rem;
}

.costom-item {
  padding: 0 10px;
    img{
      width: 100%;
      height: 100%;
    }
}

.main-wrapper {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.field-play {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    background-image: url('../img/background/Isle1.png');
    cursor: pointer;
    .wrapper-healthbar {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 35px;
        background-color: #930000;
        font-size: 2rem;
        font-weight: 800;
        color: rgb(255, 255, 255);
        .wrapper-healthdata {
            position: absolute;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            color: #FFFFFF;
            background-color: rgba(255, 255, 255, 0);
        }
        .wrapper-healthdata span {
            background-color: rgba(255, 255, 255, 0);
        }
        .healthbar {
            width: 100%;
            height: 100%;
            background-color: #ff0000;
            transition: 0.4s all ease-out;
        }
    }
    .hero {
        height: 60%;
        background-color: rgba(255, 255, 255, 0);
        img {
            height: 100%;
            background-color: rgba(255, 255, 255, 0);
            animation: pulse 1s infinite;
            transition: all 0.3s linear;
        }
        img:active {
            height: 115%;
            transition: all 0.3s linear;
        }
    }
    .monsters-progress-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 2rem;
        background-color: rgba(255, 255, 255, 0);
    }
    .monsters-progress-wrapper span {
        background-color: rgba(255, 255, 255, 0);
    }
}

.wrapper-damage-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  overflow: hidden;
  .damage-popup {
    display: block;
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
    color: darkblue;
    animation: damage 1s;
    animation-timing-function: cubic-bezier(0.29, 0.26, 0.03, 0.82);
    background: transparent;
    z-index: 99;
    span {
      background: transparent;
    }
  }
}

.__new-monster {
    background:url('../img/background/Isle1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.up-lvl {
    cursor: pointer;
}

.up-lvl p {
    color: rgb(0, 41, 221);
    font-size: 1.5rem;
}

.up-lvl1 {
    cursor: pointer;
    padding-top: 1%;
}

.up-lvl1 p {
    color: rgb(0, 41, 221);
    font-size: 1.5rem;
}

.up-lvl2 {
    cursor: pointer;
    padding-top: 1%;
}

.up-lvl2 p {
    color: rgb(0, 41, 221);
    font-size: 1.5rem;
}

.dps {
    cursor: pointer;
    padding-top: 1%;
}

.dps p {
    color: rgb(0, 41, 221);
    font-size: 1.5rem;
}

@keyframes pulse {
    0% {
        transform: scale(1.02);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes damage {
  from {
    top: 45%;
    left: 55%;
  }
  30% {
    top: 30%;
    left: 70%;
  }
  to {
    top: 80%;
    left: 95%;
  }
}
